.ion-contact-info{
    --background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../../public/assets/images/back-image.jpg") no-repeat center / cover;
}

.ion-in-box{
 width: 220px;
 height: auto;
 color:black;
--border-color: 2px soild rgb(63, 224, 230);
}

.inputbox-submit{
 margin-left: 20%;
 margin-right: 20%; 
 margin-top: 85%;
 --border-radius: 15px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ion-btn-color{
    --background:#3dc2ff;
    text-transform: none;
    --border-radius: 30px;
    width: 120px;
    height: 45px;
}

.ion-btn-color:hover{
--background: #625B71;
}